version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: career_db
    restart: always
    environment:
      POSTGRES_USER: mlj1234
      POSTGRES_PASSWORD: mlj123
      POSTGRES_DB: career_app_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: ./backend
    container_name: career_api
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - DATABASE_URL=postgres://mlj1234:mlj123@db:5432/career_app_db
      - JWT_SECRET=supersecret
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - db
    command: npm run dev

  web:
    build: ./frontend
    container_name: career_web
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:3000
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - api
    command: npm run dev -- --host

volumes:
  pgdata:
