version: '3.8'

services:
  db:
    image: postgres:lts-alpine
    restart: always
    environment:
      POSTGRES_USER: lmj1234
      POSTGRES_PASSWORD:lmj1234 
      POSTGRES_DB: db_postgresql
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  # 2. Le Backend 
  api:
    build: ./api
    ports:
      - "5000:5000"
    volumes:
      - ./api:/app           
      - /app/node_modules    
    environment:
      DATABASE_URL: postgres://mlj1234:mlj1234@db:5432/job_assistant_db
      JWT_SECRET: ma_super_cle_secrete
    depends_on:
      - db                

  # 3. Le Frontend 
  web:
    build: ./web
    ports:
      - "5173:5173"
    volumes:
      - ./web:/app            
      - /app/node_modules
    depends_on:
      - api                   
volumes:
  db_data:
